.Estilo5 {	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #F79091;
	font-weight: bold;
}
.Estilo19 {color: #000000}
.Estilo20 {font-size: medium; color: #FFFFFF;}
.Estilo3 {	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #E4080A;
	font-weight: bold;
	font-size: medium;
}
.Estilo4 {	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FF3436;
	font-weight: bold;
}
body {
	background-image: url(https://i.pinimg.com/736x/f5/2d/8a/f52d8afefe124056022219b110237ac1.jpg);
}
.Estilo27 {color: #FFFFFF; }
